*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #f5f6fa;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__stats{
  display: flex;
  justify-content: space-between;
}
.app__stats .infoBox:not(:nth-child(2)){
  border-top: 8px solid #cc1034;
}
.app__stats .infoBox:nth-child(2){
  border-top: 8px solid lime;
}

.infoBox{
  display: flex;
  flex: 1;
}
.infoBox--selected{
  border-top-width: 22px!important;
}
.infoBox:hover{
  cursor:pointer;
}
.infoBox h4,
.infoBox p{
  color:#888888;
}
.infoBox .todayCases{
  color:#000;
  font-weight: bolder;
  font-size: 22px;
}

.mapContainer{
  flex-grow: 1;
}

.app__stats .infoBox:not(:last-child){
  margin-right: 10px;
}
.MuiCard-root {
  flex: 1;
}
.app_graph{
  margin: 20px 0;
}


.app__map{
  margin-top: 20px;
}
.app__left{
  flex:0.8;
  display: flex;
  flex-direction: column;
}
.app__right{
  display: flex;
  flex-direction: column;
  background-color:#fff;
}
.app__right h3{
  color:#888888;
  padding-bottom: 5px;
}

.TableContainer{
      max-height: 300px;
}
.tableRow:nth-child(odd){
  background-color:#dedede;
}
.tableRow th,
.tableRow td{
  padding:0;
}

.MuiCard-root{
  display: flex;
}
.MuiCardContent-root{
  display: flex;
  flex-direction: column;
}
.TableContainer{
  display: flex;
  flex: 1 1;
}

.app_graph{
  height: 150px;
}


@media (max-width:900px){

  .app{
    flex-direction: column;
  }
  .app__stats{
    flex-direction: column;
  }
  .app__stats .infoBox:not(:last-child){
    margin-right: 0;
    margin-bottom: 10px;
  }
  .app__right{
    margin-top: 15px;
  }

}